/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */
body, html {
    height: 100%;
    background-image: url("../images/code.jpg");
}
.developer{
font-family: 'Barlow Condensed', sans-serif;
}

.name{
font-family: 'Lobster', cursive;
padding-left:65px;
}

.z-depth-1-half{
    padding-left: 85px;
    background-color: black;
}

.dark-grey-text{
    background-color: white; 
    padding:20px;
    opacity: .9;
    color:black;
    font-weight: bold;

}
#projectsOnPage{
    font-family: 'Lobster', cursive;
    color:white;
    padding-left: 350px;
    font-size: 50px;

}

