



body, html {
    height: 100%;
    background-image: url("../images/code.jpg");
}

.developer{
font-family: 'Barlow Condensed', sans-serif;
}

.name{
font-family: 'Lobster', cursive;
text-align: center;
font-size: 50px;
}

.z-depth-1-half{
    padding:10px;
    background-color: black;
    margin: 20px;
    
}
.bio{
    text-indent: 40px;

}

.dark-grey-text{
    background-color: white; 
    padding:50px;
    opacity: .9;
    color:black;
    font-weight: bold;
}

#projectsOnPage{
    font-family: 'Lobster', cursive;
    color:white;
    text-align: center;
    font-size: 50px;
    margin-top: 5px;
    
}
.footerHeading1{
    font-family: 'Lobster', cursive;
    font-size: 50px;
}
.footerHeading{
    font-family: 'Lobster', cursive;
    font-size: 30px;
}
.bottomFooter{
    background-color:gainsboro;
}
.card-img-top{
    width:350px;
    height:200px;
}
.px-2{
    width:350px;
    height:200px;
    margin-bottom: 150px;
    
}

.footer{
    margin-top: 40px;
}
.img-fluid{
    height: 300px;
    width:270px;
}






